<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview | Food Fusion</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/Home.css">
</head>
    
<body>
    <div class="container">
        <div class="slide">

            <div class="item" style="background-image: url(Wraps.avif );">
                <div class="content">
                    <div class="name">Pizza</div>
                    <div class="des">“Pizza” Celebrate your moments with our pizzas and make them more special with us enjoy every moment of life as every slice of pizza.</div>
                    <a href="Pizza.html"><button class="btn2">See More</button></a>
                </div>
            </div>

            <div class="item" style="background-image: url(Beverages.avif);">
                <div class="content">
                    <div class="name">Wraps</div>
                    <div class="des">"Wraps" life is a series of delicious wraps waiting to be unwrapped so what are you waiting for wrap up your hunger with a tasty treat.</div>
                    <a href="Wraps.html"><button class="btn2">See More</button></a>
                </div>
            </div>

            <div class="item" style="background-image: url(Pizza.avif);">
                <div class="content">
                    <div class="name">Beverages</div>
                    <div class="des">“Beverages” boosts you up....Stay high to clouds and be connected to ground.</div>
                    <a href="Beverages.html"><button class="btn2">See More</button></a>
                </div>
            </div>

        </div>
        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>